ul {
    padding-left: 1px;
    list-style: none;
    overflow: hidden;
    background-color: black;
    }
ul a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    }
ul a:hover {
    padding: auto;
    background-color: red;
    color: black;
    }
    